@charset "EUC-KR";
.chartcont_wrap {
    position: relative;
    float: left;
    width: 860px;
    padding: 14px 0 0 40px;
}
html * {
    font-family: 'Nanum Gothic' !important;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}
body, input, select, textarea {
    color: #333;
    line-height: 1.5;
}
body {
    line-height: 1;
    font-family: 'Nanum Gothic','나눔고딕','돋움',Dotum,'굴림',Gulim,Tahoma, Geneva, sans-serif,verdana;
    font-size: 15px;
    -webkit-text-size-adjust: none;
    font-weight: 400 !important;