.u-section-1 .u-sheet-1 {
  min-height: 1289px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 13px 52px 0;
}

.u-section-1 .u-text-2 {
  font-size: 0.875rem;
  font-weight: 300;
  width: 665px;
  margin: 7px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 0.875rem;
  font-weight: 300;
  margin: 0 246px 0 auto;
}

.u-section-1 .u-group-1 {
  min-height: 368px;
  height: auto;
  width: 1036px;
  margin: 34px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-1 .u-image-1 {
  width: 174px;
  height: 199px;
  margin: 0 auto 0 62px;
}

.u-section-1 .u-image-2 {
  width: 174px;
  height: 199px;
  margin: -199px auto 0 287px;
}

.u-section-1 .u-image-3 {
  width: 174px;
  height: 199px;
  margin: -199px auto 0 513px;
}

.u-section-1 .u-image-4 {
  width: 174px;
  height: 199px;
  margin: -199px auto 0 739px;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 12px auto 0 206px;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: -4px auto -30px 206px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 100px 52px 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1036px;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 305px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-7 {
  text-transform: none;
  margin: 6px 0 0;
}

.u-section-1 .u-text-8 {
  margin: 6px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 305px;
}

.u-section-1 .u-container-layout-3 {
  padding: 18px 0 0;
}

.u-section-1 .u-image-5 {
  height: 250px;
  width: 257px;
  margin: 12px auto 0;
}

.u-section-1 .u-layout-wrap-2 {
  width: 1036px;
  margin: 0 auto 13px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 305px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-9 {
  text-transform: none;
  margin: 6px 0 0;
}

.u-section-1 .u-text-10 {
  margin: 6px 0 0;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-btn-2 {
  padding: 0;
}

.u-section-1 .u-btn-3 {
  padding: 0;
}

.u-section-1 .u-btn-4 {
  padding: 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 305px;
}

.u-section-1 .u-container-layout-5 {
  padding: 18px 0 0;
}

.u-section-1 .u-image-6 {
  height: 250px;
  width: 257px;
  margin: 12px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1261px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 74px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 129px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 93px;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
  }

  .u-section-1 .u-image-1 {
    width: 501px;
    margin-top: -438px;
    margin-left: calc(((100% - 940px) / 2) + 259px);
  }

  .u-section-1 .u-image-2 {
    margin-top: -61px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 706px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 209px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 209px;
  }

  .u-section-1 .u-text-6 {
    width: 567px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 277px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 277px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 277px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 277px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 897px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 57px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 99px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 71px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 720px) / 2) + 219px);
  }

  .u-section-1 .u-image-3 {
    margin-left: 486px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 486px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 104px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 104px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 212px;
  }

  .u-section-1 .u-image-5 {
    height: 241px;
    width: 248px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 212px;
  }

  .u-section-1 .u-image-6 {
    height: 241px;
    width: 248px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1787px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 43px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 74px;
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 53px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 540px) / 2) + 39px);
  }

  .u-section-1 .u-image-3 {
    margin-left: 346px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 346px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 82px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -36px;
    margin-left: 82px;
  }

  .u-section-1 .u-text-6 {
    width: 540px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 454px;
  }

  .u-section-1 .u-image-5 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 454px;
  }

  .u-section-1 .u-image-6 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1451px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 27px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 47px;
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 33px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    margin-top: -354px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-2 {
    margin-top: 146px;
    margin-left: 146px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 146px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 146px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 50px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 50px;
  }

  .u-section-1 .u-text-6 {
    width: 340px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 286px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 286px;
  }
}